<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Berat - Create</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1>Berat - Create</h1>
<div>
  <form>
    <table border="1">
      <tr>
        <td>Tanggal:</td>
        <td><input id="tanggal" type="date" name="tanggal"></td>
      </tr>
      <tr>
        <td>Berat Maksimal:</td>
        <td><input id="max" type="number" name="max" min="0"></td>
      </tr>
      <tr>
        <td>Berat Minimal:</td>
        <td><input id="min" type="number" name="min" min="0"></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit"></td>
      </tr>
    </table>
  </form>
  <a href="/berat">Lihat data</a>
</div>
<script type="text/javascript">
(function() {
  // untuk submit form
  $("form").submit(function(event) {
    var tanggal = $("#tanggal").val();
    var max = $("#max").val();
    var min = $("#min").val();

    // Harus async: false sepertinya, gagal terus yang lainnya
    $.ajax({
      method: "POST",
      url: "/berat/api/create",
      data: { tanggal: new Date(tanggal), max: max, min: min },
      async: false
    })
    .done(function(result) {
     alert("Berhasil menambahkan data.");
    })
    .fail(function(jqXHR, textStatus, errorThrown) {
      alert(textStatus, errorThrown);
    });    
  })
})();
</script>
</body>
</html>